%section.deprecated
  %h2.govuk-heading-m This register has been deprecated.

  %p.govuk-body
    Please
    = link_to "click here", @deprecated
    :preserve
       to access the current register of information sharing agreements that have been made under the public service delivery, debt, fraud and civil registration provisions within the Digital Economy Act 2017.
