
%table.registers-secondary-table
  %caption.registers-secondary-table__caption
    The
    <!-- -->
    %b #{@register.register_fields.count} fields
    <!-- -->
    in this register

  %thead.registers-secondary-table__head
    %tr.registers-secondary-table__row
      %th.registers-secondary-table__header{scope: 'col'} Field names and descriptions
      %th.registers-secondary-table__header{scope: 'col'} Sample record
  %tbody.registers-secondary-table__body
  - @register_fields_with_examples.each do |field|
    %tr.registers-secondary-table__row
      %td.registers-secondary-table__cell
        %p{class: 'govuk-!-margin-bottom-0'}
          %b= field['field']
        %p{class: 'govuk-!-margin-bottom-0'}= field['text']
      %td.registers-secondary-table__cell
        %p= field['example']
