%tr
  - @register.register_fields.each do |field|
    - field_value = record.data[field['field']]
    %td
      = field_value.is_a?(Array) ? field_value.join(', ') : link_to_if(field['datatype'] == 'url', field_value, field_value) || "<span class='unknown'>No data</span>".html_safe
