Showing <strong>#{number_with_delimiter(@offset)} &ndash; #{number_with_delimiter(@offset_end)}</strong> of <strong>#{number_with_delimiter(@result_count)}</strong> records
- if params[:q].present?
  for <strong>"#{params[:q]}"</strong>