@import 'spina';
$black: #0b0c0c;
$grey-1: #6f777b;
$grey-2: #bfc1c3;
$grey-3: #dee0e2;
$grey-4: #f8f8f8;
$white: #ffffff;

.typeahead {
  &__wrapper {
    position: relative;
  }

  &__hint {
    position: absolute;
  }

  &__input {
    position: relative;
  }

  &__menu {
    background-color: $white;
    border: 1px solid $grey-2;
    border-top: 0;
    color: $grey-1;
    margin: 0;
    max-height: 342px;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
  }

  &__menu--visible {
    display: block;
  }

  &__menu--hidden {
    display: none;
  }

  &__menu--overlay {
    box-shadow: rgba($black, 0.256863) 0 2px 6px;
    left: 0;
    position: absolute;
    top: 100%;
    z-index: 100;
  }

  &__menu--inline {
    position: relative;
  }

  &__option {
    border-bottom: solid $grey-2;
    border-width: 1px 0;
    color: $grey-1;
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.25;
    padding: 10px;
    position: relative;

    &:first-of-type {
      border-top-width: 0;
    }

    &:last-of-type {
      border-bottom-width: 0;
    }
  }

  &__option--odd {
    background-color: $grey-4;
  }

  &__option--focused,
  &__option:hover {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $white;
    outline: none;
  }

  &__option--no-results {
    background-color: $grey-4;
    color: $grey-1;
    cursor: not-allowed;
  }
}

.register__phase {
  display: inline-block;
  color: $grey-2;
  margin-left: 10px;
}
