language: ruby
cache: bundler

env:
  global:
  - CF_API="https://api.cloud.service.gov.uk"
  - CF_ORG="openregister"
  - CF_SPACE="prod"
  - CF_USERNAME="register-design-authority@digital.cabinet-office.gov.uk"
  # CF_PASSWORD
  - secure: N+l1lnUl6DTnKdzdl1y2C1qBbMlWPP9J+QvcOPdEQ3ZttQEzQVBlWZ1h5IvDjZAK14OAh/rKejp6EZOqJeTmbZv5EzGDOhmyzQNUKGHh8z5Y1O63JUGRsgFYqbBZyqfLl27UEJv1KRdt0heInVvm3az+ReEUJVXDOTiT5firlAUKPsp1O97+qp67RYK/TBtAGf2fD1ZR4BcA6Le5fYBV8RwapIkboB2BzFr4xwXPZk4/QP858VwK2c3qmvIe1d59iiviWIGP+zid+3BdVVzsjGBmi6OFfxMaq/EaGyCHvvrMC19unoCOpvlPygo/bRV7VSDqeIe/2SR4+QrTgJyj6bB54HYsv1dD632w7V8/ZFWKCblKWQs/aCg0T63sNwPaskM/G9V9q6EGcTqxHrDFPzkAYWv/iRneASwyXDRzNYC56eYxt0rxBXNIYhIKBKKGff7LS5qYO3M9TCcjgasJpxv2PN67PGMDSiUEC8bFwvDDGQYfHantmP0mbgupDXMmsGIpp+trOHKfx+NKE6PhpJRp8r4T5ZhEa+zYeDQI1OXJXPC00y/4IkgGO8icI+9VcG64T338IiLdHnvAgt9bYtA8TvEZP1rVsntxV9It+mSYLD67o5W6gmK6xvGAHWAGbvia39N0pXEaAoQ1HHwVrPzVi9MlWdVk1n9ZjsY+ePE=

before_deploy:
  - export PATH=$HOME:$PATH
  # Install CloudFoundry
  - travis_retry curl -L -o $HOME/cf.tgz "https://cli.run.pivotal.io/stable?release=linux64-binary&source=github"
  - tar xzvf $HOME/cf.tgz -C $HOME
  # Install Autopilot plugin for zero-downtime-push
  - travis_retry cf install-plugin autopilot -f -r CF-Community

deploy:
  provider: script
  script: ./bin/deploy
  skip_cleanup: true
  on:
    repo: openregister/register-status
    branch: master
