language: ruby
cache: bundler

env:
  global:
  - CF_API="https://api.cloud.service.gov.uk"
  - CF_ORG="openregister"
  - CF_SPACE="prod"
  - CF_USERNAME="register-design-authority@digital.cabinet-office.gov.uk"

before_deploy:
  - export PATH=$HOME:$PATH
  # Install CloudFoundry
  - travis_retry curl -L -o $HOME/cf.tgz "https://cli.run.pivotal.io/stable?release=linux64-binary&source=github"
  - tar xzvf $HOME/cf.tgz -C $HOME
  # Install Autopilot plugin for zero-downtime-push
  - travis_retry cf install-plugin autopilot -f -r CF-Community

deploy:
  provider: script
  script: ./bin/deploy
  skip_cleanup: true
  on:
    repo: openregister/register-status
    branch: master
