- console
- @page_title = "Thank you for signing up"

%main#content{role: 'main'}
  .grid-row
    .column-full
      %h1.heading-large Thank you for signing up
      %p You can unsubscribe from GOV.UK Registers updates at any time.