- @page_title = "Thank you for signing up"

%main#content{role: 'main'}
  .grid-row
    .column-full
      %h1.heading-large Confirm your subscription
      %p We have sent you an email with a link to confirm your subscription.
      %p You will not be subscribed until you click the confirmation link in the email.
      %p
        Back to #{link_to 'registers available', registers_path}.
