- @page_title = "Support"

.container
  .grid-row
    .column-two-thirds
      %h1.heading-large Support
      - if @support.errors.any?
        %div{id: "validation-error-message-no-js", class: "error-summary form-group"}
          %h1.heading-medium.error-summary-heading Please check the below errors
          %ul.error-summary-list
            - @support.errors.full_messages.each do |error|
              %li
                = error

      = form_for @support do |f|
        = render 'spina/supports/steps/current_step', f: f
