- @page_title = 'Suggest or Request a new Register'

%main#content.container{role:'main'}
  .grid-row
    .column-two-thirds
      = link_to 'Back', new_register_path, class: 'link-back'

  .grid-row
    .column-two-thirds
      %h1.heading-large Thanks for suggesting a new register
      %p We’ll get back to you as soon as possible
