%div{id: "validation-error-message-no-js", class: "error-summary form-group"}
  %h1.heading-medium.error-summary-heading Support form could not be sent
  %ul.error-summary-list
    - object.errors.full_messages.each do |error|
      %li
        = error
