- @page_title = 'Express interest in register | Complete'

%main#content.container{role:'main'}
  .grid-row
    .column-two-thirds
      .govuk-box-highlight.govuk-box-highlight--title-only
        %h1.heading-large Thank you for expressing your interest in this register

      %h2.heading-medium What happens next
      %p We’ll be in touch if this register progresses. If you have any other questions you can #{mail_to "registers@digital.cabinet-office.gov.uk", "contact the team"}.
