- @page_title = 'Help us improve'

%main#content.container{role:'main'}
  .grid-row
    .column-two-thirds
      %header.heading-large
        %span.heading-secondary Step 2 of 3
        %h2 
          %b Help us improve
        %span.heading-secondary We'd like to know a bit about you. This information will give us a better understanding of how registers are used.