- @page_title = 'Help us improve'

%main#content.container{role:'main'}
  .grid-row
    .column-full
      %header.heading-large.form-heading-with-skip
        %h2 
          %b Help us improve
        %p.step-number.heading-secondary Step 2 of 3 
        %p.skip-this-step Skip this step
        %p.heading-secondary.intro We'd like to know a bit about you. This information will give us a better understanding of how registers are used.
      
