- @page_title = "Download - #{@register.register_name} register"
- content_for :body_classes, 'api-key-page'

%main#content{role: 'main'}
  .grid-row
    .column-full
      = GovukElementsErrorsHelper.error_summary @download, "There is a problem with the form", ""
      %h1.heading-large
        Download the #{@register.register_name} register
      = render 'form', user: @user
