- @page_title = "Your Download"

%main#content{role: 'main'}
  .grid-row
    .column-two-thirds
      %h1.heading-large Your download
      %p{data: {'click-events' => true, 'click-category' => 'Content', 'click-action' => 'Register Download' }}
        The register is avaliable as #{link_to_format('csv')} and #{link_to_format('json')}
