- @page_title = "Your Download"

%main#content{role: 'main'}
  .grid-row
    .column-two-thirds
      %h1.heading-large Your register download
      %p{data: {'click-events' => true, 'click-category' => 'Content', 'click-action' => 'Register Download' }}
        You can download the latest data in this register as a #{link_to_format('csv')} and #{link_to_format('json')} file.
