- @page_title = "Download - #{@register.register_name}"
- content_for :body_classes, 'api-key-page'

%main#content{role: 'main'}
  .grid-row
    .column-full
      %h1.heading-large Download the #{@register.register_name}
      %p You can download the latest data in this register as:
      %ul.list.list-bullet{data: {"click-events" => true, "click-category" => "Content", "click-action" => "Register Download"}}
        %li= link_to 'CSV', register_download_csv_path(@register.slug)
        %li= link_to 'JSON', register_download_json_path(@register.slug)
      .participate
        %p Thank you for helping us to improve GOV.UK Registers.
