%tr
  - @register_data.get_field_definitions.each do |field|
    %td{class: field.item.value['field']}
      = record.item.value[field.item.value['field']] || "<span class='unknown'>No data found</span>".html_safe
