%tr
  %td
    = link_to register.name, spina.register_path(register.slug)
  %td
    = register.owner
  %td{class: "numeric"}
    %span{class: "#{register.register_phase.downcase} phase-count"}= register.register_phase
