#step_one
  %h3.heading-medium How can we help you?
  .form-group
    %fieldset
      %legend.visually-hidden How can we help you?
      .multiple-choice
        = f.radio_button :step_one, "problem", checked: true
        = f.label :step_one_problem, "I want to report a problem"
      .multiple-choice
        = f.radio_button :step_one, "question"
        = f.label :step_one_question, "I have a question or want to give feedback"
