- @page_title = "Support"

.container
  .grid-row
    .column-two-thirds
      = link_to "Back", spina.root_path, class: "link-back"

.container
  .grid-row
    .column-two-thirds
      %h1.heading-large Thank you for contacting us
      %p We have recieved your message and we will get back to you as soon as possible.
      %p GDS provides operational support from 09:00 - 17:00 Monday-Friday and usually replies within 48 hours.
