- @page_title = "Support"

.container
  .grid-row
    .column-two-thirds
      = link_to "Back", spina.root_path, class: "link-back"

.container
  .grid-row
    .column-two-thirds
      %h1.heading-large Thanks for contacting GOV.UK Registers
      %p We’ll get back to you as soon as possible
