%nav{class: 'govuk-grid-column-one-third govuk-!-padding-bottom-7'}
  %ul.govuk-list
    %li{class: 'govuk-body-s registers-!-border-bottom govuk-!-margin-bottom-0 govuk-!-padding-top-2 govuk-!-padding-bottom-2'}
      =link_to 'A quick guide to registers', about_path, {class: "registers-!-no-underline #{'govuk-!-font-weight-bold' if current_page?(about_path)}", data: { 'click-events' => '', 'click-category' => 'Navigation', 'click-action' => 'Link - A quick guide to registers', 'click-label' => 'In page navigation'}}
    %li{class: 'govuk-body-s registers-!-border-bottom govuk-!-margin-bottom-0 govuk-!-padding-top-2 govuk-!-padding-bottom-2'}
      =link_to 'The characteristics of a register', characteristics_of_a_register_path, {class: "registers-!-no-underline #{'govuk-!-font-weight-bold' if current_page?(characteristics_of_a_register_path)}", data: { 'click-events' => '', 'click-category' => 'Navigation', 'click-action' => 'Link - The characteristics of a register', 'click-label' => 'In page navigation'}}
    %li{class: 'govuk-body-s registers-!-border-bottom govuk-!-margin-bottom-0 govuk-!-padding-top-2 govuk-!-padding-bottom-2'}
      =link_to 'How registers help government services', how_registers_help_government_services_path, {class: "registers-!-no-underline #{'govuk-!-font-weight-bold' if current_page?(how_registers_help_government_services_path)}", data: { 'click-events' => '', 'click-category' => 'Navigation', 'click-action' => 'Link - How registers help government services', 'click-label' => 'In page navigation'}}
