- @page_title = 'Avaliable registers'

%main.container{role:'main'}
  .grid-row
    .column-one-third
      = render partial: 'pages/sidebar_nav'
    .column-two-thirds
      %h1.heading-large Avaliable registers
      %ul.list-bullet
        - @beta_registers.reject{ |r| %w{register datatype field}.include?(r[:item]['register'])}.each do |register|
          %li= link_to register[:item]['register'], "/registers/#{register[:item]['register'].parameterize}"
