- @page_title = 'Avaliable registers'

%main.container{role:'main'}
  .grid-row
    .column-one-third
      = render partial: 'pages/sidebar_nav'
    .column-two-thirds
      %h1.heading-large Avaliable registers
      %ul.list.list-bullet
        - @beta_registers.reject{ |r| %w{register datatype field}.include?(r.name.parameterize)}.each do |register|
          %li= link_to register.name, "/registers/#{register.name.parameterize}"
