- @page_title = "Combining registers"

%main#content.container{role:'main'}
  .grid-row
    .column-one-third
      = render partial: 'pages/sidebar_nav'
    .column-two-thirds
      %h1.heading-large Combining registers
      %p You can easily combine data from one register with data from another. This can help if you need access to data from more than one organisation to build your service.
      %p For example, you might need to use data from the country register as well as the territory register to build a feature in your service that users can use to find their location.
