- @page_title = "Cookies"
- content_for :body_classes, 'static-content'

%main#content.container{role:'main'}
  %nav.breadcrumbs{"aria-label" => "Breadcrumb"}
    %ol{data: {"click-events" => "", "click-category" => "Header", "click-action" => "Breadcrumb Clicked"}}
      %li.breadcrumbs__item
        = link_to 'Components', 'https://www.gov.uk/service-toolkit#components'
      %li.breadcrumbs__item.breadcrumbs__item
        = link_to 'GOV.UK Registers', root_path
      %li.breadcrumbs__item.breadcrumbs__item--active
        = link_to 'Cookies', '#content', "aria-current" => "page"

  .grid-row
    .column-two-thirds
      %h1.heading-large Cookies
      %p.summary
        GOV.UK Registers puts small files (known as ‘cookies’) onto your computer.
      %p Cookies are used to:
      %ul.list.list-bullet
        %li keep your session open
        %li avoid malicious requests
        %li measure how you use the website so it can be updated and improved based on your needs
      %p Find out #{link_to 'how to manage cookies', 'https://ico.org.uk/for-the-public/online/cookies/'}.
      %h2.heading-medium Measuring website usage (Google Analytics)
      %p We use Google Analytics software to collect anonymised information about how you use GOV.UK Registers. We do this to help make sure the site is meeting the needs of its users and to help us make improvements.
      %p Google Analytics stores information about:
      %ul.list.list-bullet
        %li the pages you visit
        %li how long you spend on each page
        %li how you arrived at the site
        %li what you click on while you’re visiting the site
        %li the device and browser you’re using
      %p We don’t collect or store your personal information (for example your name or address) so this information can’t be used to identify who you are.
      %p We don’t allow Google to use or share our analytics data.
      %p Google Analytics sets the following cookies:
      %table
        %thead
          %tr
            %th Name
            %th Purpose
            %th Expires
        %tbody
          %tr
            %th{:width => "33%"} _ga
            %td This helps us count how many people visit GOV.UK Registers by tracking if you’ve visited before
            %td{:width => "16%"} 2 years
          %tr
            %th{:width => "33%"} _gid
            %td This helps us count how many people visit GOV.UK Registers by tracking if you’ve visited before
            %td{:width => "16%"} 1 day
          %tr
            %th{:width => "33%"} _gat
            %td Used to manage the rate at which page view requests are made
            %td{:width => "16%"} 1 minute
      %h2.heading-medium Session cookies
      %p We store session cookies on your computer to help keep your information secure.
      %table
        %thead
          %tr
            %th Name
            %th Purpose
            %th Expires
        %tbody
          %tr
            %th{:width => "33%"} _govuk_registers_session
            %td This is set to identify your session
            %td{:width => "16%"} 1 month

      %h2.heading-medium Our introductory message
      %p You may see a pop-up welcome message when you first visit GOV.UK Registers. We’ll store a cookie so that your computer knows you’ve seen it and knows not to show it again.
      %table
        %thead
          %tr
            %th Name
            %th Purpose
            %th Expires
        %tbody
          %tr
            %th{:width => "33%"} seen_cookie_message
            %td Saves a message to let us know that you have seen our cookie message
            %td{:width => "16%"} 1 month

      %h2.heading-medium 'Help us improve GOV.UK Registers' questions
      %p When accessing a register's data you’ll be asked a couple of questions about what you're using GOV.UK Registers for. Once you’ve filled these in or chosen to skip them, we'll store a cookie so that your computer knows you’ve seen it and knows not to show it again.
      %table
        %thead
          %tr
            %th Name
            %th Purpose
            %th Expires
        %tbody
          %tr
            %th{:width => "33%"} seen_help_us_improve_questions
            %td Saves a message to let us know that you’ve seen these questions
            %td{:width => "16%"} 1 month
