- @page_title = "Roadmap"

%main#content.container{role:'main'}
  .grid-row
    .column-one-third
      = render partial: 'pages/sidebar_nav'
    .column-two-thirds
      %h1.heading-large Roadmap
      %p Here’s a list of the new functionality the GOV.UK Registers team are working on over the next 6 to 9 months.

      %h2.heading-medium August to October 2017
      %ul.list-bullet
        %li test and improve the Manage your registers tool used by custodians
        %li share a case study from a service using registers
        %li release 6 new registers by September
        %li create a user-friendly interface for redesigned register pages
        %li design a mechanism to view register updates
        %li explain the stages of progress involved in creating a register so users can view available registers
        %li release a ‘plug and play’ picker allowing service teams to integrate data from a register
        %li improve site navigation and orientation to help different user groups and their needs
        %li explore how to share register updates
        %li provide tools and support for users using register data alongside existing or legacy data
        %li show a preview of data formats to users before downloading registers

      %h2.heading-medium October 2017 to January 2018
      %ul.list-bullet
        %li redesign the product homepage
        %li provide online tools to help users check data for a potential register
        %li create at least 6 new registers
        %li allow users to choose filters with improved search functionality
        %li support custodians to make a range of register updates

      %p #{link_to 'Contact the team', support_path} if you’d like to know more about the plans in our roadmap.
