- @page_title = 'Services using registers'
= content_for :body_classes, 'services-using-registers-page'
%nav.breadcrumbs{role: "Navigation", "aria-label" => "Breadcrumb"}
  %ol{data: {"click-events" => "", "click-category" => "Header", "click-action" => "Breadcrumb Clicked"}}
    %li.breadcrumbs__item
      = link_to 'GOV.UK Registers', root_path
    %li.breadcrumbs__item.breadcrumbs__item--active
      = link_to 'Services using registers', '#content', "aria-current" => "page"

.govuk-width-container
  %main#content{class: "govuk-main-wrapper govuk-!-padding-bottom-9", role:"main"}
    .govuk-grid-row
      .govuk-grid-column-full
        %h2.govuk-heading-l Government services using registers

        %table.govuk-table
          %caption.govuk-table__caption.visually-hidden All government services that are using registers.
          %thead.govuk-table__head
            %tr.govuk-table__row
              %th.govuk-table__header{ scope: "col"} Register
              %th.govuk-table__header{ scope: "col"} Used by
          %tbody.govuk-table__body
            %tr.govuk-table__row
              %th{class: "govuk-table__header govuk-!-font-weight-regular", scope: "row"}
                =link_to 'Country', register_path('country'), {class: "list-of-registers__heading"}
                Foreign & Commonwealth Office
              %td.govuk-table__cell
                %ul{ role: "list", class: "list-of-registers"}
                  %li{class: "govuk-!-padding-bottom-3", role: "listitem"}
                    =link_to 'Civil Service Jobs', 'https://www.civilservicejobs.service.gov.uk/', {class: "list-of-registers__heading"}
                    %span.visually-hidden{role: "presentation"} by
                    HR Profession
                  %li{class: "govuk-!-padding-bottom-3", role: "listitem"}
                    =link_to 'Defence Academy', 'https://www.da.mod.uk', {class: "list-of-registers__heading"}
                    %span.visually-hidden{role: "presentation"} by
                    Ministry of Defence
                  %li{class: "govuk-!-padding-bottom-3", role: "listitem"}
                    =link_to 'Digital Marketplace', 'https://www.digitalmarketplace.service.gov.uk', {class: "list-of-registers__heading"}
                    %span.visually-hidden{role: "presentation"} by
                    Cabinet Office
                  %li{class: "govuk-!-padding-bottom-3", role: "listitem"}
                    =link_to 'E-petitions', 'https://petition.parliament.uk', {class: "list-of-registers__heading"}
                    %span.visually-hidden{role: "presentation"} by
                    Parliamentary Digital Service
                  %li{class: "govuk-!-padding-bottom-3", role: "listitem"}
                    =link_to 'GOV.UK Pay', 'https://www.payments.service.gov.uk', {class: "list-of-registers__heading"}
                    %span.visually-hidden{role: "presentation"} by
                    Cabinet Office
                  %li{class: "govuk-!-padding-bottom-3", role: "listitem"}
                    %span{class: "list-of-registers__heading"} Prove You Can Apply
                    Department for Work & Pensions


            %tr.govuk-table__row
              %th{class: "govuk-table__header govuk-!-font-weight-regular", scope: "row"}
                =link_to 'Territory', register_path('territory'), {class: "list-of-registers__heading"}
                Foreign &amp; Commonwealth Office
              %td.govuk-table__cell
                %ul{ role: "list", class: "list-of-registers"}
                  %li{ class: "govuk-!-padding-bottom-3", role: "listitem"}
                    =link_to 'Digital Marketplace', 'https://www.digitalmarketplace.service.gov.uk', {class: "list-of-registers__heading"}
                    Cabinet Office
                  %li{class: "govuk-!-padding-bottom-3", role: "listitem"}
                    =link_to 'GOV.UK Pay', 'https://www.payments.service.gov.uk', {class: "list-of-registers__heading"}
                    Cabinet Office

            %tr.govuk-table__row
              %th{class: "govuk-table__header govuk-!-font-weight-regular", scope: "row"}
                =link_to 'Government organisations on GOV.UK', register_path('government-organisation'), {class: "list-of-registers__heading"}
                Cabinet Office
              %td.govuk-table__cell
                %ul{ role: "list", class: "list-of-registers"}
                  %li{class: "govuk-!-padding-bottom-3", role: "listitem"}
                    =link_to 'GOV.UK Performance Platform', 'https://www.gov.uk/performance', {class: "list-of-registers__heading"}
                    %span.visually-hidden{role: "presentation"} by
                    Cabinet Office

            %tr.govuk-table__row
              %th{class: "govuk-table__header govuk-!-font-weight-regular registers-!-border-off", scope: "row"}
                =link_to 'Local authorities in England', register_path('local-authority-eng'), {class: "list-of-registers__heading"}
                Ministry of Housing, Communities and Local Government
              %td{class: "govuk-table__cell registers-!-border-off"}
                %ul{ role: "list", class: "list-of-registers"}
                  %li{class: "govuk-!-padding-bottom-3", role: "listitem"}
                    %span{class: "list-of-registers__heading"} Realtime Flood Monitoring
                    Environment Agency
