- @page_title = "Using registers"

%main#content.container{role:'main'}
  .grid-row
    .column-one-third
      = render partial: 'pages/sidebar_nav'
    .column-two-thirds
      %h1.heading-large How registers can help you build better digital services
      %p Registers are live lists of data, each managed by a custodian from within government. They represent the government’s approved version of that data.

      %p All registers are classified as ‘open’, which means the data within them can be accessed, copied and used freely by anyone. You can choose to use all or some of the data in the register.

      %p You can use the data to create features for forms. For example, the UK government and Parliament petitions service uses the country register to populate a drop-down menu from which users can select their location.

      %h2.heading-medium How registers are kept up to date
      %p Each register is managed by one person from the organisation that’s responsible for the data within it. This person is known as the custodian.

      %p As they’re responsible for looking after the register, you can be confident that the data you’re using to build your service is current.

      %p Using registers to build services is more reliable than using other sources of information, which might be out of date or at risk of being unpublished at any time.

      %h2.heading-medium How registers work
      %p Each register is made up of records. Each record is made up of ‘fields’ and ‘values’. For example, in the country register the record for Estonia has a field called ‘official-name’. The value of this field is ‘The Republic of Estonia’.

      %p Fields and values aren’t specific to just one register. They can be used across several registers, regardless of which organisation manages them.

      %p This stops information being duplicated across registers. It also means registers can be easily linked to each other, which can help if you need access to data from more than one organisation to build your service.

      %p When any of the information in a register changes, a new ‘entry’ is added to the record.

      %p The most recent entry is shown as the current version of the record. Older entries are also kept as part of the record to show when it was changed.

      %h2.heading-medium How to use a register
      %p Each register has a read-only API that allows you to:
      %ul.list.list-bullet
        %li find out information about a register
        %li get all the records from a register
        %li find records that share attributes with each other
        %li download either the whole or part of a register
        %li find a single record, entry or item

      %p The #{link_to 'technical documentation', 'https://docs.registers.service.gov.uk'} has more information.

      %p Alternatively, you can download a copy of the register data directly from each register’s homepage.
