.container
  .grid-row
    %h1 Ask a question or give feedback
    %form{action:'/sendfeedback', method:'post'}
      %input{name:"authenticity_token", value:form_authenticity_token, type:"hidden"}
      %div.form-group
        %label.form-label{for:'registerName'} Name of the register
        %input.form-control#registerName{input:'text', name:'registerName'}
      %div.form-group
        %label.form-label{for:'message'} Message
        %textarea.form-control#message{rows:'7', name:'message'}
      %div.form-group
        %p.bold Leave your details if you would like to receive a reply
        %label.form-label{for:'name'} Name
        %input.form-control#name{input:'text', name:'name'}
      %div.form-group
        %label.form-label{for:'email'} Email
        %input.form-control#email{input:'text', name:'email'}
      %input.button{type:'submit', value:'Submit'}