= paginator.render do
  %ul.pager-items
    = prev_page_tag unless current_page.first?
    - each_page do |page|
      - if page.display_tag?
        = page_tag page
    = next_page_tag unless current_page.last?
