- @page_title = "Sorry, we're experiencing technical difficulties"

%main#content.container{role:'main'}
  .grid-row
    .column-full
      %h1.heading-large Sorry, we're experiencing technical difficulties
      %p If the problem persists please contact #{link_to 'support', support_path}.