.registers-block-grid {
  margin-top: $gutter;
}

.register-block {
  background-color: $grey-4;
  border: 1px solid $grey-2;
  display: block;
  padding: 1em;
  margin-bottom: 1.5em;
  position: relative;
  text-decoration: none;

  @include media(tablet) {
    min-height: 250px;
  }

  &__name {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
  }

  &__description {
    color: $black;
    font-size: 16px;
  }

  .govuk-organisation-logo {
      @include media(tablet) {
      bottom: 1em;
      left: 1em;
      position: absolute;
    }
  }
}
