.highlight-boxes {
  @media screen and (min-width: map-get($govuk-breakpoints, tablet)) {
    display: flex;
  }
}

.highlight-box {
  box-sizing: border-box;
  background: govuk-colour("grey-4");
  border: 1px solid $govuk-border-colour;
  display: block;
  text-decoration: none;
  margin: 0 15px;

  @media screen and (min-width: map-get($govuk-breakpoints, tablet)) {
    float: left;
    width: calc(50% - 30px);
  }

  p {
    color: $govuk-text-colour;
  }
}
