.registers-in-numbers {
}

.registers-in-numbers__item {
  // govuk-!-margin-bottom-4 govuk-!-padding-right-3
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 100%;

  .registers-in-numbers--l & {
    width: 50%;
  }
}

.registers-in-numbers__number {
  font-weight: bold;
  // govuk-!-font-size-80 govuk-!-font-weight-bold govuk-!-margin-bottom-0
}

.registers-in-numbers__caption {
  // govuk-body-s govuk-!-margin-bottom-0
}

.registers-in-numbers--two-columns {
  .registers-in-numbers__item {
    @media screen and (min-width: 640px) {
      width: (100% / 2);
    }
  }
}


.registers-in-numbers--about-page {
}
