.table-header {
  &.active {
    background-color: $govuk-blue;
    color: $white;
    font-weight: bold;
    margin: -15px -55px -15px -15px;
    padding: 15px 55px 15px 15px;

    .info-icon {
      background: $white;
      color: $govuk-blue;

      &:focus,
      &:hover {
        color: $govuk-blue;
      }
    }
  }
}
