.sort-link {
  font-weight: normal;
  padding-right: 15px;
  position: relative;
  text-decoration: none;

  &:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: "";
    display: block;
    margin-left: 5px;
    position: absolute;
    right: 0;
    top: 7px;
  }

  &.asc {
    font-weight: bold;

    &:after {
      border-bottom: 8px solid $govuk-blue;
    }
  }

  &.desc {
    font-weight: bold;

    &:after {
      border-top: 8px solid $govuk-blue;
    }
  }
}
