%sorting-link {
  font-weight: bold;
  padding-right: 15px;
  position: relative;

  &:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: "";
    display: block;
    margin-left: 5px;
    position: absolute;
    right: 0;
    top: 7px;
  }

  &.asc:after {
    border-bottom: 8px solid $govuk-blue;
  }

  &.desc:after {
    border-top: 8px solid $govuk-blue;
  }
}

.sort-link {
  @extend %sorting-link;
}

// Ransack sorting
// scss-lint:disable SelectorFormat
.sort_link {
  @extend %sorting-link;
  font-weight: normal;

  &.asc,
  &.desc {
    font-weight: bold;
  }
}
// scss-lint:enable SelectorFormat
