// Taken from https://github.com/alphagov/static/app/assets/stylesheets/helpers/_core.scss

.tabs-container {
  margin-top: $gutter;
}

.nav-tabs {
  zoom: 1;
  background: $white;
  padding: 0;
  position: relative;

  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  ol,
  ul,
  .tabs-nav {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 5;

    @include ie-lte(7) {
      overflow: hidden;
      padding: 1px 1px 0 0;
    }

    @include media(mobile) {
      float: none;
      margin: 0 -16px;
    }
  }

  li,
  .tabs-nav li {
    @include core-19;
    margin-right: 4px;
    float: left;

    @include media(mobile) {
      float: none;
    }

    a {
      border: solid 1px $white;
      border-bottom: none;
      background-color: $grey-3;
      float: left;
      height: 2.25em;
      line-height: 2.25em;
      padding: 0 1em 0 1em;
      position: relative;
      text-align: center;
      top: 0;

      @include ie-lte(7) {
        background-image: none;
        padding: 0 0.5em;
      }

      @include media(mobile) {
        display: block;
        position: static;
        float: none;
        height: auto;
        line-height: 3.5em;
        padding: 0 16px;
        text-align: left;
        margin-bottom: 0;
        border-bottom: 2px solid $border-colour;
      }

      @include media(desktop) {
        min-width: 150px;
      }

      &:hover {
        background-color: $border-colour;
      }
    }

    &.active a {
      background-color: $white;
      border: solid 2px $border-colour;
      color: $text-colour;
      font-weight: bold;
      padding-bottom: 2px;
      position: relative;
      text-decoration: none;
      z-index: 5;

      @include ie-lte(7) {
        bottom: -1px;
      }

      @include media(mobile) {
        border: none;
        border-bottom: 2px solid  $border-colour;
      }

      &:hover {
        color: inherit;
      }

      &:focus:after {
        content: none;
      }

      &:after {
        background-color: $white;
        bottom: -4px;
        content: "";
        display: block;
        height: 4px;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }

    &:first-child a {
      margin-left: 0;

      @include media(mobile) {
        border-left: none;
        border-top: 2px solid $border-colour;
      }
    }
  }
}

.tab-content {
  .tab-pane {
    padding: 1em 0 0 0;
    border-top: solid 2px $border-colour;
    clear: both;
    width: auto;

    @include media(mobile) {
      border-top: none;
      padding: 0;
    }
  }

  .inner {
    padding: 0 2.5em 1em;

    @include media(mobile) {
      padding: 0 1em 1em;
      border-bottom: solid 2px $border-colour;
    }
  }

  p:first-child {
    font-size: 19px;
    margin-top: 0;
  }

  .heading-small {
    margin-bottom: $gutter;
    margin-top: 0;
  }

  .bold {
    margin-bottom: 0;
  }

  p {
    font-size: 16px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }

  em {
    font-style: normal;
    font-weight: bold;
  }

  nav {
    margin: 1em -1.375em 0;
  }
}

.js-tab-content {
  .js-heading-tab {
    border-bottom: solid 2px $border-colour;
    list-style: none;

    a,
    h1 {
      @include core-24($line-height: (45 / 24), $line-height-640: (45 / 17));
      background: $white image-url('accordion-arrow.png') no-repeat 100% -2px;
      display: block;
      padding: 0 16px;
      position: relative;
      text-align: left;
      text-decoration: underline;
      top: 0;

      @include device-pixel-ratio() {
        background-image: image-url("accordion-arrow-2x.png");
        background-size: 45px 90px;
      }

      &:hover {
        background-color: $grey-3;
      }
    }

    &.active {
      text-decoration: none;

      a,
      h1 {
        background-position: 100% -48px;
        background-color: $grey-3;
        color: $text-colour;
        text-decoration: none;
      }
    }
  }

  .js-heading-tab {
    margin: 0;
    clear: both;

    h1 {
      padding: 0;
    }
  }


  .tab-shiftlink {
    @include core-19();
    position: absolute;
    left: -9999em;

    @include media(mobile) {
      position: static;
      left: auto;
    }
  }

  @include media(mobile) {
    .js-tab-container {
      border-left: solid 2px $border-colour;
      border-right: solid 2px $border-colour;
      min-height: 0;
    }

    .js-tab-pane {
      border-bottom: solid 2px $border-colour;
    }

    .js-tab-container:first-child {
      border-top: solid 2px $border-colour;
    }
  }
}

.transaction .js-tab-content {
  overflow: hidden;
}
