- @page_title = 'Suggest register | Complete'

%main#content.container{role:'main'}
  .grid-row
    .column-two-thirds
      .govuk-box-highlight
        %h1.heading-xlarge Complete

      %p Thank you for suggesting this register.

      %h2.heading-medium What happens next
      %p We will take a look at your register and email you when we add it to our backlog. If you have any other questions or ideas you can #{mail_to "registers@digital.cabinet-office.gov.uk", "contact the team"}.
