- @page_title = 'Suggest register | Complete'

%main#content.container{role:'main'}
  .grid-row
    .column-two-thirds
      .govuk-box-highlight.govuk-box-highlight--title-only
        %h1.heading-large Thank you for suggesting this register

      %h2.heading-medium What happens next
      %p We’ll take a look at your suggestion and email you if it’s been accepted. If you have any other questions or ideas you can #{link_to 'contact the team', support_path}.
