@charset "utf-8";

// GOV.UK Template
@import 'govuk-template';

// GOV.UK Toolkit and GOV.UK Elements
@import 'govuk_elements';

// From alphagov/product-page-example
@import 'util/printable';
@import 'modules/breadcrumbs';
@import 'modules/content-section';
@import 'modules/govuk-logo';
@import 'modules/header';
@import 'modules/hero';
@import 'modules/hero-button';
@import 'modules/masthead';
@import 'modules/phase-banner';
@import 'modules/related-items';
@import 'modules/skip-link';
@import 'modules/sub-navigation';
@import 'modules/pagination';
@import 'modules/search';
@import 'modules/footer-categories';
@import 'modules/sorting-link';
@import 'modules/tables';
@import 'modules/check-your-answers';
@import 'modules/accessible-autocomplete';
@import 'modules/block-grid';
@import 'modules/accessible-autocomplete';
@import 'modules/subsections';
@import 'modules/scrolling-tables';
@import 'modules/dialog';

// From alphagov/static
@import 'govuk_component/organisation-logo';

html,
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  @include core-19;
}

b,
strong {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Base styles for headings
// ==========================================================================

.heading-xlarge {
  margin-top: 0;
}

.register-show,
.register-index,
.static-content {
  .heading-large {
    margin-top: 0;
  }
}

.records-show {
  .heading-large {
    font-weight: normal;
  }
}

html {
  scroll-behavior: smooth;
}

// Override purple colour
a:visited {
  color: $govuk-blue;
}

// scss-lint:disable IdSelector
#global-header-bar {
  display: none;
}
// scss-lint:enable IdSelector

.govuk-metadata {
  font-size: 16px;
  margin-bottom: 20px;

  dl {
    overflow: hidden;
  }

  dt {
    clear: left;
    float: left;
    max-width: 150px;
    padding-bottom: 0.5rem;
    padding-right: 1%;
    width: 24%;
  }

  dd {
    float: left;
    margin: 0;
    max-width: 480px;
    padding-bottom: 0.5rem;
    width: 75%;
  }
}

.list-number-big {
  font-size: 24px;
  font-weight: bold;

  p {
    font-size: 19px;

    &:first-of-type {
      margin-bottom: $gutter-half;
    }
  }

  .heading-medium {
    margin-bottom: $gutter / 3;
    margin-top: 0;
  }
}

.register-meta-data {
  margin: $gutter-half 0;
}

table {
  td,
  th {
    font-size: 16px;
    padding: 15px 40px 15px 0;
    vertical-align: top;

    a {
      white-space: nowrap;
    }
  }
}

.container {
  @extend %site-width-container;
  display: block;
  margin-bottom: $gutter * 2;
}

.footer-nav {
  font-size: 14px;
  padding: 8px 0;
  margin-bottom: 20px;

  @include media(tablet) {
    font-size: 16px;
    padding: 5px 0;
  }

  a {
    display: inline-block;
    margin-right: 15px;
  }
}

.table {
  margin-bottom: $gutter;
}

.table-scroll {
  margin-bottom: $gutter;
  overflow-x: auto;
  width: 100%;
}

.register-data-table {
  th {
    background-color: $grey-3;
    border-bottom: 0;
    border-right: 2px solid $white;
    font-weight: normal;
    min-width: 280px;
    padding: 15px 30px 15px 15px;
    position: relative;
    vertical-align: middle;

    &.start-date,
    &.end-date,
    &.review-date,
    &:first-child {
      min-width: 120px;
    }

    &:last-child {
      border-right: 0;
    }
  }

  .info-icon {
    background-color: $govuk-blue;
    border-radius: 50%;
    color: $white;
    display: inline-block;
    font-weight: bold;
    height: 25px;
    line-height: 1.7;
    position: absolute;
    right: 12px;
    text-align: center;
    text-decoration: none;
    top: 12px;
    width: 25px;
  }

  td {
    border: none;
    padding: 15px;
  }

  tr:nth-child(even) td {
    background: $grey-4;
  }
}

.records-search {
  @include media(mobile) {
    margin-bottom: $gutter-half;
  }
}

.register-status-table {
  @include media(tablet) {
    margin: 40px 0;
  }

  p,
  .govuk-organisation-logo {
    margin-bottom: 0;
  }
}

.services-using-registers-page {
  table {
    thead th {
      font-weight: bold;
    }

    td,
    th {
      font-size: 16px;
      vertical-align: top;
    }
  }
}

.data {
  .registers-index & {
    margin-bottom: 40px;
  }

  details {
    font-size: 16px;
  }

  a {
    display: block;
    font-size: 16px;
    text-decoration: none;

    .data-item.bold-xsmall {
      text-decoration: underline;
    }
  }
}

.related-container {
  @include media(mobile) {
    margin-top: $gutter;
  }

  .heading-small:first-of-type {
    margin-top: 0;
  }

  ul {
    padding: 0;
  }
}

@include media(tablet) {
  .mq-small-only {
    display: none;
  }
}

.error-summary {
  @include media(tablet) {
    padding: 15px;
  }
}

.error-summary-list {
  margin: 0;
}

.form-hint {
  width: 50%;
}

.form-group.error {
  margin-right: 15px;
  border-left: 4px solid $error-colour;
  padding-left: 10px;

  @include media(tablet) {
    border-left: 5px solid $error-colour;
    padding-left: 15px;
  }

  .form-control {
    border: 4px solid $error-colour;
  }

  .error-message {
    padding-bottom: 4px;
  }
}

.text-separator {
  color: $grey-2;
  display: inline-block;
  margin: 0 5px;
}

.regiser-phase-description {
  margin: -20px 0 40px 0;
}

.panel {
  &__list {
    list-style-type: disc;
    padding-left: 20px;
  }
}

.search-records-wrapper {
  margin-bottom: $gutter-half;

  .heading-medium {
    margin-top: 0;
  }

  .form-control {
    width: 100%;
  }
}

.form-group-wrapper {
  margin-top: 20px;
}

.entries {
  border-left: 10px solid $grey-3;
  list-style-type: none;
  margin: 40px 0;
  padding-left: 30px;

  &__item {
    position: relative;
    padding: 30px 0;

    &:before {
      background-color: $grey-3;
      content: "";
      display: block;
      height: 10px;
      left: -30px;
      position: absolute;
      width: 10px;
    }
  }

  &__date {
    color: $grey-1;
    display: block;
    font-size: 16px;
    line-height: 1;
    margin: 0 0 20px;
  }

  .heading-medium {
    margin-top: 0;
  }

  tr td,
  tr th {
    font-size: 16px;
    width: 33.3333%;
  }
}

.unknown {
  color: $grey-2;
}

.panel-change-notification {
  background-color: rgba($yellow-50, 0.5);
  border-color: $yellow-50;
  border-width: 5px;
  display: inline-block;
  margin: -7px 20px -4px 0;
  padding: 7px;
  text-align: left;
  width: 100%;
}

.text-spacing {
  margin: 0 5px;
}

.reset-link {
  margin-left: 10px;
}

.records-count {
  margin-bottom: $gutter / 3;
}

details {
  margin-top: $gutter-half;

  .form-group {
    margin: 20px 0;
  }

  .inline {
    float: left;
    width: auto;
  }
}

.filter-search-submit {
  display: block;

  .js-enabled & {
    display: none;
  }
}

.admin {
  table {
    td:last-child,
    th:last-child {
      text-align: right;
    }
  }

  .column-one-third {
    .button {
      float: right;
      margin-top: 2.5em;
    }
  }
}

.code-curl {
  border: none;
  color: $red;
  font-size: 16px;
  white-space: inherit;
}

.code-large {
  display: block;
  line-height: 1;
  margin: $gutter 0 $gutter-half 0;
  padding: $gutter;
}

.govuk-box-highlight--title-only .heading-large {
  margin: $gutter 0;
}

.api-key-page {
  .heading-large {
    margin-bottom: 40px;
  }

  .form-label-bold {
    font-weight: normal;
  }
}

.sticky {
  @include media(tablet) {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

.disclaimer {
  color: $grey-1;
  font-size: 16px;
}

.alert--success {
  background-color: $turquoise;
  color: $white;
  margin-bottom: $gutter;
  padding: $gutter / 2;
}

.participate {
  border-top: 1px solid $border-colour;
  margin-top: $gutter;

  .text {
    margin-bottom: $gutter;
  }

  > p {
    margin-top: 1.875em;
  }
}

.sortable {
  margin: 0;

  li {
    background: $grey-3;
    box-sizing: border-box;
    cursor: move;
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    overflow: hidden;
    width: 100%;
  }

  a {
    float: right;
  }

  .sortable-placeholder {
    background: none;
    border: dashed 2px $border-colour;
    height: 59px;
  }
}

.sort-registers {
  .form-label {
    @include media(tablet) {
      float: left;
      font-weight: normal;
      margin: 7px $gutter 0 0;
    }
  }
}
