%h1.heading-large What is the title of the register?
%div{class: "form-group #{@suggest_register.errors[:message].present? ? 'form-group-error' : ''}"}
  = f.label :message, class: 'form-label' do
    %span.visually-hidden Register title
    %span.form-hint Make this as short and clear as possible
  = f.text_field :message, required: true, class: "form-control #{@suggest_register.errors[:message].present? ? 'form-control-error' : ''}", value: session[:suggest_register_params]['message']
