%h1.heading-large What is your email address?
%div{class: "form-group #{@suggest_register.errors[:email].present? ? 'form-group-error' : ''}"}
  = f.label :email, class: 'form-label' do
    %span.visually-hidden Email address
    %span.form-hint We need this to update you on the register’s progress
  = f.email_field :email, class: "form-control #{@suggest_register.errors[:email].present? ? 'form-control-error' : ''}", value: session[:suggest_register_params]['email']
