- @page_title = "Support"

%main#content.container{role:'main'}
  .grid-row
    .column-two-thirds
      = link_to "Back", root_path, class: "link-back"

  .grid-row
    .column-two-thirds
      %h1.heading-large Thanks for contacting GOV.UK Registers
      %p We’ll get back to you as soon as possible
