.error-summary{"aria-labelledby" => "error-summary-heading-example-1", :role => "group", :tabindex => "-1"}
  %h1#error-summary-heading-example-1.heading-medium.error-summary-heading
    There was a problem
  %ul.error-summary-list
    - object.errors.each do |attr, message|
      %li
        %a{href: "#error_#{object.class.to_s.parameterize}_#{attr.to_s}"}
          #{attr.to_s.humanize} #{message}
        %span.visuallyhidden .
