%section.content-section.column-full
  .grid-row
    %h2.heading-medium.content-section__title.column-full GOV.UK Registers in numbers
    .column-one-third
      .data
        -# = link_to registers_path do
        %span{class: 'govuk-heading-xl govuk-!-margin-bottom-0'}= @registers_available
        %span.data-item.govuk-body-s registers available
    .column-one-third
      .data
        -# = link_to registers_path do
        %span{class: 'govuk-heading-xl govuk-!-margin-bottom-0'}= @organisation_count
        %span.data-item.govuk-body-s government organisations providing&nbsp;registers
    .column-one-third
      .data
        -# = link_to services_using_registers_path do
        %span{class: 'govuk-heading-xl govuk-!-margin-bottom-0'} 13
        %span.data-item.govuk-body-s services using registers