%h3{class: 'govuk-heading-s govuk-!-padding-top-4 registers-!-border-top'} Explore GOV.UK Registers
%ul.govuk-list
  %li.govuk-body-s
    =link_to 'Government registers collection', registers_path, {class: 'govuk-!-font-weight-bold govuk-!-margin-bottom-0', data: { 'click-events' => '', 'click-category' => 'Navigation', 'click-action' => 'Link - Government registers collection', 'click-label' => 'In page navigation'}}
    %p All the registers that are ready to use in your government service.
  %li.govuk-body-s
    =link_to 'Services using registers', services_using_registers_path, {class: 'govuk-!-font-weight-bold govuk-!-margin-bottom-0', data: { 'click-events' => '', 'click-category' => 'Navigation', 'click-action' => 'Link - Services using registers', 'click-label' => 'In page navigation'}}
    %p Government services that are using registers.
  %li.govuk-body-s
    =link_to 'Register updates', sign_up_index_path, {class: 'govuk-!-font-weight-bold govuk-!-margin-bottom-0', data: { 'click-events' => '', 'click-category' => 'Navigation', 'click-action' => 'Link - Register updates', 'click-label' => 'In page navigation'}}
    %p Sign up for updates to registers and changes to our service.
  %li.govuk-body-s
    =link_to 'Suggest a new register', suggest_new_register_path, {class: 'govuk-!-font-weight-bold govuk-!-margin-bottom-0', data: { 'click-events' => '', 'click-category' => 'Navigation', 'click-action' => 'Link - Suggest a new register', 'click-label' => 'In page navigation'}}
    %p Suggest a register if you work in government or the public sector.